@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #ed4264, #ffedbc);

    --background: -13 53.949999999999996% 4.8%;
    --foreground: -13 8.299999999999999% 98%;

    --muted: -13 41.5% 18%;
    --muted-foreground: -13 8.299999999999999% 56%;

    --popover: -13 48.400000000000006% 7.8%;
    --popover-foreground: -13 8.299999999999999% 98%;

    --card: -13 48.400000000000006% 7.8%;
    --card-foreground: -13 8.299999999999999% 98%;

    --border: -13 41.5% 18%;
    --input: -13 41.5% 18%;

    --primary: -13 83% 60%;
    --primary-foreground: -13 8.299999999999999% 6%;

    --secondary: -13 41.5% 18%;
    --secondary-foreground: -13 8.299999999999999% 98%;

    --accent: -13 41.5% 18%;
    --accent-foreground: -13 8.299999999999999% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -13 8.299999999999999% 98%;

    --ring: -13 83% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    overflow-y: scroll;
  }
}
