@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 338 10% 10%;
    --foreground: 338 0% 90%;
    --card: 338 0% 10%;
    --card-foreground: 338 0% 90%;
    --popover: 338 10% 5%;
    --popover-foreground: 338 0% 90%;
    --primary: 338 100% 75%;
    --primary-foreground: 0 0% 0%;
    --secondary: 338 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 300 10% 25%;
    --muted-foreground: 338 0% 60%;
    --accent: 300 10% 25%;
    --accent-foreground: 338 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 338 0% 90%;
    --border: 338 20% 28%;
    --input: 338 20% 28%;
    --ring: 338 100% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground;
    overflow-y: scroll;
  }
}
